<?xml version="1.0"?>
<launch>
  <arg name="arm_id" default="za" doc="Name of the robot launch"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find hydra_bringup)/config/ros_controllers.yaml" subst_value="true"/>

  <!-- spawns the controller after the robot was put into its initial joint pose -->
  <node pkg="controller_manager"
        type="spawner"
        name="controller_spawner"
        respawn="false" output="screen"
        args="joint_state_controller position_trajectory_controller"
  />
</launch>
